.body-color{
    background-color: #FFC2B2 ;

}
   /*Diseño navbar*/
   .nav-1{
    background-color: #FEBB22;
 }
 .logo{
    width: 100px;
    height: 65px;
 }
 .n{
    color: #6C6966,#FEBB22, #FFC2B2;
 }
 /*Formulario*/

 .container-form{
    background-color: #FFFFFF;
    width: 400px;
    height: 200px;
    margin-left: 465px;
    margin-top: 50px;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    
    
 }

 #username{
    width: 300px !important;
    background-color: #e4e2e1;
    border: 0;
    margin-right: 30px;
    margin-top: 30px;
    
 }
 #password{
   width: 300px !important;
    background-color: #e4e2e1;
    border: 0;
    margin-right: 30px;
    margin-top: 20px;
 }

 .btn-IN{
    margin-left: 120px;
    background-color: #FEBB22;
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    margin-top: 30px;
 }
 .fa-lock{
   margin-top: 32px !important;
 }
 .fa-user{
   margin-top: 40px !important;
 }
 .img-homer{
  position:absolute;
  top: 240px;
  left : 818px;
  z-index: 1;
 }
.h-IN{
   display: flex;
   justify-content: center;
   margin-top: 100px !important;
}
/**********************************************************************************************************************/
/*Menú lateral*/
.menu-lateral{
   width: 400px;
   height: 750px;
   background-color: #FFAE9E;
}
.img-user{
   margin-left:130px;
   margin-top: 40px;
}
.hr-user{
   margin-top: 40px;
   height: 5px !important;
   color:#FFFFFF;
}
.name-user{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   color: #FFFFFF;
}
.menu{
   color: #FFFFFF;
   
}
.icon{
   margin: 15px;
   margin-left: 0px;
}
.hr-menu{
   height: 5px !important;
   color:#FFFFFF;
   width: 380px;
   
}
/************************************************************************************************************************/
 /*contenido none*/
 #nav-1{
    display: block;
 }
 #cont-formulario{
    display: block;
 }
 #cont-1{
    display: none;
 }
