.body-color{
    background-color: #FFC2B2 ;

}
   /*Diseño navbar*/
   .nav-1{
      width: 100% !important;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
 }
 .logo{
    width: 100px;
    height: 65px;
 }
 
 /*Diseño img-logo en lateral derecho*/
 .img-right-log{
   position:absolute;
  top: 240px;
  left : 708px;
  z-index: 1;
 }
 /*Formulario*/

 .container-form{
   background-color: #FFFFFF;
    width: 400px;
    height: 200px;
    margin-left: 465px;
    margin-top: 50px;
    border-radius: 5px;
    display: flex;
    justify-content:space-evenly;
    
    
 }

 #username{
    width: 300px !important;
    background-color: #e4e2e1;
    border: 0;
    margin-right: 30px;
    margin-top: 30px;
    
 }
 #password{
   width: 300px !important;
    background-color: #e4e2e1;
    border: 0;
    margin-right: 30px;
    margin-top: 20px;
 }

 .btn-IN{
    margin-left: 120px;
    background-color: #FEBB22;
    border: 0;
    border-radius: 20px;
    color: #FFFFFF;
    margin-top: 30px;
 }
 .fa-lock{
   margin-top: 32px !important;
 }
 .fa-user{
   margin-top: 40px !important;
 }
 .img-homer{
  position:absolute;
  top: 240px;
  left : 818px;
  z-index: 1;
 }
.h-IN{
   display: flex;
   justify-content: center;
   margin-top: 100px !important;
}
/**********************************************************************************************************************/
/*Navbar*/
.nav-2P{
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
   width: 948px !important;
   height: 70px;
   position: absolute !important;
   margin-left: 400px !important;
   z-index:1000;
}
.icon-nav{
   display:flex;
   justify-content: right;
   margin-top: 18px;
   margin-right: 10px;
}
.fa-message{
   color: #FFFFFF;
}
.fa-border-all{
   color: #FFFFFF;
}
.fa-right-from-bracket{
   color: #FFFFFF;
}
/**********************************************************************************************************************/
/*Menú lateral*/
.menu-lateral{
   width: 400px;
   height: 1000px;
   background-color: #FFAE9E;
   margin-top: 0;
   
}
.img-user{
   margin-left:130px;
   margin-top: 40px;
}
.hr-user{
   margin-top: 40px;
   height: 5px !important;
   color:#FFFFFF;
}
.name-user{
   display: flex;
   justify-content: center;
   margin-top: 30px;
   color: #FFFFFF;
}
.menu{
   color: #FFFFFF;
   
}
.icon{
   margin: 15px;
   margin-left: 0px;
}
.hr-menu{
   height: 5px !important;
   color:#FFFFFF;
   width: 380px;
   
}
/************************************************************************************************************************/
/*Submenu de opción empresas*/
.subEmpresa{
   background-color: #FFFFFF;
   color: black;
  
   z-index: 1000;
}

button:hover{
   background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );
   
}
 ul {
	list-style:none;
   margin-left: 0 !important;
   padding: 0;
   margin: 0;
   border-radius: 10px;
 
}

 ul li {
	position: relative;
   
}

 ul li:hover {
	background:pink;
   border-radius: 10px;
   margin-left: 0;
   margin: 0;padding: auto;
   padding: 0;
}

 ul li a {
	color:#FFFFFF;
	display:block;
	text-decoration:none;
	padding: 20px;
}
ul li a:hover{
   color: purple;
}

 ul li a span {
	margin-right:5px;
}

 ul li:hover .hijo {
	display:block;
}

 ul li .hijo {
	display: none;
	background-image: linear-gradient( 64.3deg,  rgba(254,122,152,0.81) 17.7%, rgba(255,206,134,1) 64.7%, rgba(172,253,163,0.64) 112.1% );
	position: absolute;
	width: 344px;
	z-index:1000;
}

 ul li .hijo li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

 ul li .hijo li a {
	display: block;
}

 ul li .hijo li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:5px;
}
.fa-caret-down{
   padding: 10px;
}
/************************************************************************************************************************/
 /*contenido none*/
 #nav-1{
    display: block;
 }
 #cont-formulario{
    display: block;
 }
 #cont-1{
    display: none;
 }
